*,
*::before,
*::after {
    box-sizing: border-box;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

.d-b{
    display: block;
}

.flex{
    display: flex;
}

.t-w{
    color: white;
}

.t-c{
    text-align: center;
}

.t-n{
    font-style:  normal;
}

$n:4px;

.pt-7{
    padding-top:$n*7 ;
}
.pt-14{
    padding-top:$n*14 ;
}

.pt-16{
    padding-top:$n*16 ;
}
.pb-14{
    padding-bottom:$n*14 ;
}
.pb-16{
    padding-bottom:$n*16 ;
}
.pb-36{
    padding-bottom:$n*36 ;
}
.pb-40{
    padding-bottom:$n*40 ;
}

.mb-1  {
    margin-bottom:$n ;
}
.mb-2{
    margin-bottom: $n*2;
}
.mb-3{
    margin-bottom: $n*3;
}
.mb-4{
    margin-bottom: $n*4;
}
.mb-5{
    margin-bottom: $n*5;
}
.mb-6{
    margin-bottom: $n*6;
}
.mb-7{
    margin-bottom: $n*7;
}
.mb-8{
    margin-bottom: $n*8;
}
.mb-9{
    margin-bottom: $n*9;
}
.mb-10{
    margin-bottom: $n*10;
}
.mb-12{
    margin-bottom: $n*12;
}
.mb-14{
    margin-bottom: $n*14;
}
.mb-17{
    margin-bottom: $n*17;
}

body{
    font-family:Arial, Helvetica, sans-serif,"微軟正黑體";
    font-size: 24px;
    line-height: 1.5;
    font-style: italic;
}

header{
    justify-content: center;
    align-items: center;
    background-image: url("../images/banner.png");
    height: 958px;
    background-size: cover;
    background-position: center center;
    font-weight: bold;
    .title{
        line-height: 106px;
        font-size: 80px;
    }
    .subtitle{
        line-height: 42px;
    }
    .s-icon{
        justify-content: space-between;
    }
}
.about{
    font-weight: bold;
    h2{
        font-size: 64px;
        line-height: 84px;
    }
    .aboutme{

        li:nth-child(-n+2){
            line-height: 42px;
        }
    }
    .work-ex{
        border-top: 1px solid #000;
        width: 384px;
        margin: 0 auto;

        li{
            line-height: 42px;
        }
        li::before{
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 16px;
            background-color: #891818;
            border-radius: 50%;
        }
    }
}

.myBrand{
    background-color: #000;

    h2{
        font-size: 68px;
        line-height: 84px;
    }
    h3{
        line-height: 42px;
    }
    p{
        line-height: 30px;
        font-size: 20px;
    }
    .brandimg{
        flex-wrap: wrap;
        justify-content: space-between;
        li:first-child{
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.otherWorks{
    h2{
        font-size: 64px;
        line-height: 84px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
    }
    .mywork{
        flex-wrap: wrap;
        justify-content: space-between;

        li{
            margin-bottom: 48px;
        }
        h4{
            font-size: 20px;
            margin-top: 16px;
        }
    }
}

footer{
    background-color: #000;
    h2{
        font-size: 64px;
        line-height: 84px;
    }



}